.book {
  border: 1px solid lightgreen;
  margin-bottom: 12px;
  padding: 6px 8px;
  box-shadow: 0 0 2px #ccc;
}

h2 {
  margin: 10px 0;
  color: #333;
}

.view-detail {
  color: limegreen;
  text-decoration: none;
}

.name {
  font-weight: bold;
  font-size: 40px;
}

input[name="name"], textarea[name="content"] {
  width: 300px;
  display: block;
  margin: 10px 0;
}

input[name="name"] {
  line-height: 20px;
}

button[name="submit"] {
  background: limegreen;
  border-radius: 0;
  color: white;
  border: none;
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}